/.bootstrap-logs/
/container-test-logs/
/.config/
/dotfiles/applications/.local/share/applications/mimeapps.list
/dotfiles/cargo/.cargo/.crates.toml
/dotfiles/cargo/.cargo/.crates2.json
/dotfiles/cargo/.cargo/.global-cache
/dotfiles/cargo/.cargo/.package-cache
/dotfiles/cargo/.cargo/.package-cache-mutate
/dotfiles/cargo/.cargo/bin/
/dotfiles/cargo/.cargo/registry/
/dotfiles/codex/
/dotfiles/gh/.config/gh/hosts.yml
/.nvimlog
/nvim.log
/wget-log*
/dotfiles/bin/*
!/dotfiles/bin/.local/
/dotfiles/bin/.local/*
!/dotfiles/bin/.local/bin/
/dotfiles/bin/.local/bin/*
!/dotfiles/bin/.local/bin/google-chrome
!/dotfiles/bin/.local/bin/google-chrome-stable
!/dotfiles/bin/.local/bin/hibernate-delay-auto
!/dotfiles/bin/.local/bin/i3status-wrapper
!/dotfiles/bin/.local/bin/idle-action
!/dotfiles/bin/.local/bin/lock-screen
!/dotfiles/bin/.local/bin/power-mode-auto
!/dotfiles/bin/.local/bin/slippi-launcher
!/dotfiles/bin/.local/bin/sway-idle-daemon
