[Desktop Entry]
Version=1.0
Name=Google Chrome
GenericName=Web Browser
Comment=Access the Internet
Exec=google-chrome-stable %U
Terminal=false
Type=Application
Icon=google-chrome
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/pdf;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Google-chrome
Actions=new-window;incognito;

[Desktop Action new-window]
Name=New Window
Exec=google-chrome-stable

[Desktop Action incognito]
Name=New Incognito Window
Exec=google-chrome-stable --incognito
